# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Compiler-Ausgaben
*.ppu
*.pps
*.pbu

# Temporäre Dateien & Backup
backup/
ppas.bat
link.res
PHP/NeuronalNetworks/examples/LLM/llm_data.json
PHP/NeuronalNetworks/examples/LLM/llm_data.json

# C++
build/

# Python
__pycache__/